body {
    height: 100%;
    width: 100%;
    background-color: bisque;
}

.wholePage {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardContainer {
    display: grid;
    border:10px solid bisque;
    width: 50vh;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: whitesmoke;

}

.gridDiv {
    display: flex;
    border: 2px solid black;
    height:100%;
    width:100%;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}

.gridDiv:hover {
    background-color: lightgrey;
}

#btn {
    font-size: 2em;
    padding: 10px;
    border-radius: 100000px;
    border: none;
}